.comment-form__input {
  margin: 0 0 10px 0;
  padding: 2px;
  border: solid 1px #ccc;
  border-radius: 5em;
}

.comment-form__textarea {
  margin: 0 0 10px 0;
  padding: 2px;
  border: solid 1px #ccc;
  border-radius: 1em;
}

.comment-form__label {
  display: block;
  margin-bottom: 5px;
}
