.footer {
  min-height: 50px;
  padding: 20px;
  font-size: 14px;
  color: black;
  background-color: #f1c40f;
  background-image:
  linear-gradient(45deg, transparent 50%, white 50%),
  linear-gradient(-45deg, transparent 50%, white 50%),
  linear-gradient(135deg, transparent 50%, #2c3e50 50%),
  linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
  background-repeat: repeat-x;
  background-position: 0 0, 0 0, 0 100%, 0 100%;
  background-size: 10px 12px;
}

