.b {

  height: 250px;
  width: 300px;
  position: relative;

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;

    &-0{
      background: linear-gradient(
        75deg,
        red 50%,
        yellow 50%
      );
    }
    &-1{
      background: linear-gradient(
        75deg,
        yellow 50%,
        blue 50%
      );
    }
    &-2{
      background: linear-gradient(
        75deg,
        blue 50%,
        red 50%
      );
    }

    &-show {
      opacity: 1;
    }

    &-hide {
      opacity: 0;
    }
  }

  &-bt-0 {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &-bt-1 {
    position: absolute;
    right: 10px;
    top: 40px;
    cursor: pointer;
  }
  &-bt-2 {
    position: absolute;
    right: 10px;
    top: 60px;
    cursor: pointer;
  }

}